<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="지금이약!"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Now_this_pill"
        tools:targetApi="31" >
        <activity
            android:name=".home.Num_inputActivity"
            android:exported="false" />
        <activity
            android:name=".home.MainActivity"
            android:exported="false" />
        <activity
            android:name=".home.pill_packet_periodFragment"
            android:exported="false" />
        <activity
            android:name=".home.pill_periodFragment"
            android:exported="false"
            android:label="@string/title_activity_pill_period"
            android:theme="@style/Theme.Now_this_pill" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Fragment.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Setting.VersionActivity"
            android:exported="false" />
        <activity
            android:name=".Setting.InquiryActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".model.UserModel"
            android:exported="false" />
        <activity
            android:name=".UserAccount"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            tools:ignore="DuplicateActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service android:name=".Alarm.NotificationService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>



        <receiver android:name=".Alarm.AlarmReceiver" android:exported="false" />

    </application>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>